.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 25.3vh;
}

/* Tablet format  */
@media screen and (max-width: 769px) {
	.container {
		margin-bottom: 33.2vh;
	}
}
