.container {
	margin-top: 24px;
	display: flex;
}

.star {
	fill: #e3e3e3;
}

.starFull {
	fill: #ff6060;
}

/* Tablet format */
@media screen and (max-width: 769px) {
	.container {
		margin-top: 16px;
	}
}

/* Mobile format */
@media screen and (max-width: 450px) {
	.star {
		width: 15px;
		height: 15px;
	}

	.container {
		margin: auto 0;
	}
}
