.container {
	display: flex;
	justify-content: flex-end;
}

.name {
	font-size: 18px;
	width: min-content;
	text-align: right;
	align-self: center;
	padding-right: 10px;
}

.image {
	width: 64px;
	height: 64px;
	border-radius: 50%;
}

/* Mobile format */
@media screen and (max-width: 450px) {
	.name {
		font-size: 12px;
	}

	.image {
		width: 32px;
		height: 32px;
	}
}
