.defaultLink {
	text-decoration: none;
}

nav a {
	font-size: clamp(12px, 1.667vw, 24px);
}

nav :nth-child(1) {
	margin-right: clamp(10px, 3.958vw, 57px);
}

/* Tablet format  */
@media screen and (max-width: 769px) {
	nav {
		width: fit-content;
		text-transform: uppercase;
		text-align: right;
	}
}
