footer {
	background-color: black;
	height: 209px;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo {
	fill: white;
	width: 122px;
	height: 39.44px;
	margin-top: clamp(62px, 4.583vw, 66px);
}

.text {
	margin: auto 0 29px 0;
	font-size: clamp(12px, 1.667vw, 24px);
}

/* Mobile format */
@media screen and (max-width: 450px) {
	.text {
		margin-bottom: 62px;
	}
}
