* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-weight: 500;
	font-size: 24px;
}

body {
	font-family: "Montserrat", sans-serif;
	color: #ff6060;
}

a {
	color: #ff6060;
	line-height: 142.6%;
}

.content {
	max-width: 1240px;
	margin: 40px auto 0 auto;
}

/* Desktop adjust */
@media screen and (max-width: 1341px) {
	.content {
		margin: 40px 50px 0 50px;
	}
}

/* Tablet-Mobile format  */
@media screen and (max-width: 769px) {
	.content {
		margin: 20px 20px 0 20px;
	}
}
